/* -----------------------------------------------------
 * Status wifi
 * ----------------------------------------------------- */
.wifi-dot-on {
    background-color: #2ecc71;
    border-radius: 999px;
}

.wifi-dot-off {
    background-color: #e74c3c;
    border-radius: 999px;
}

/* -----------------------------------------------------
 * Wifi off
 * ----------------------------------------------------- */
.dim-label {
  opacity: 0.7;
  font-size: 14px;
}
